nav ul a,nav .brand-logo{color:#444}
p{line-height:2rem}
.button-collapse{color:#26a69a}
.parallax-container{min-height:380px;line-height:0;height:auto;color:rgba(255,255,255,.9)}
.parallax-container .section{width:100%}
@media only screen and (max-width: 992px) {
.parallax-container .section{position:absolute;top:40%}
#index-banner .section{top:10%}
}
@media only screen and (max-width: 600px) {
#index-banner .section{top:0}
}
.icon-block{padding:0 15px}
.icon-block .material-icons{font-size:inherit}
footer.page-footer{margin:0}
h1{font-weight:700;font-size:45px}
.pad{padding:100px 0}
.nav-wrapper .right{line-height:1}
.btn.lhs,.btn.rhs,.infobtn{height:25px;line-height:25px;padding:0 7px;margin-right:3px;font-size:13px}
.btn.lhs.unchecked,.btn.rhs.unchecked,.infobtn{background-color:#DFDFDF!important;box-shadow:none;color:#9F9F9F!important}
.lhs,.rhs,.indexes,.time{padding:2px 10px;display:inline-block;background-color:#26a69a;color:#fff}
.indexes,.sec{background:#f2f2f2;color:#000}
#di_logo:hover{background:transparent}
#message i.material-icons{vertical-align:middle}
#loader{text-align:center}
.ng-cloak{display:none}
.time.sec{font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace}
.result_total{font-size:20px}
.result table tr td:last-child{background:rgba(0,150,136,0.1);font-weight:700}
.result .combs:nth-of-type(1){padding-top:15px}
.result .details{line-height:3;font-weight:700}