<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>rdf discovery</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">RDF Discovery</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">About</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">About</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>

            <h1 class="header center white-text"><img src="static/images/pythonlogo.png"/> <br> Relaxed Functional
                Dependencies Discovery</h1>
            <div class="row center">
                <h5 class="header col s12 white-text"></h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button"
                   class="btn-large waves-effect waves-light teal lighten-1">Infos</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="static/images/neural.png" alt="neural network"></div>
</div>
<div class="container pad">
    <form action="#" id="file-form" enctype="multipart/form-data">
        <div class="section" id="step1">
            <div class="row">
                <div class="col s12">

                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Select CSV</span>
                            <input type="file" id="jfileupload" name="file" data-url="/api/upload">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="file-path" class="file-path validate" type="text">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="details"></div>
        <div class="section preview" id="step2" style="display: none;">

            <div class="card-panel">
                <p class="">Options</p>
                <div class="row">
                    <div class="col s6">
                        <input type="checkbox" id="semantic"/>
                        <label for="semantic">Semantic</label>
                    </div>
                    <div class="col s6">
                        <input type="checkbox" id="header" checked="true"/>
                        <label for="header">Header</label>
                    </div>
                </div>
                <div class="row">
                    <div class=" col s12">
                        <div class="input-field">
                            <select id="separator">
                                <option value="" disabled selected>Select</option>
                                <option value=";" selected> ;</option>
                                <option value=","> ,</option>
                            </select>
                            <label>Separator</label>
                        </div>
                    </div>
                </div>
                 <!-- <div class="row">
                    <div class=" col s3">
                        <div class="input-field">
                              <input id="delimiter" type="text" >
                              <label for="delimiter">Delimiter</label>
                        </div>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="previewcheckbox"/>
                        <label for="previewcheckbox">Table preview</label>
                    </div>

                     <div class="col s3">
                              <input id="unknow" type="text" value="?" readonly>
                        <label for="unknow">Unknow value placeholder</label>
                    </div>
                  </div> -->
            </div>
            <h3>Preview</h3>
            <div id="table">contents</div>

            <br>
            <div class="center">
                <a class="waves-effect waves-light btn-large center" id="run"><i class="material-icons right">send</i> Run</a>
            </div>
             <div id="progressbox"class="progress" style="display: none;">
                 <div class="determinate" id="progressbar" ></div>
             </div>
            <div id="progressvalue"></div>
        </div>
    </form>
            <div class="section result" id="step3" style="">
                <div id="result"></div>
            </div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">lorem ipsum</p>


            </div>
            <div class="col s12">
                <h5 class="white-text">Contacts</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/init.js"></script>

<script src="static/js/jquery.ui.widget.js"></script>
<script src="static/js/jquery.iframe-transport.js"></script>
<script src="static/js/jquery.fileupload.js"></script>
<script src="static/js/jquery.tablesorter/jquery.tablesorter.js"></script>
<script src="static/js/jquery.csv.js"></script>
<script src="static/js/html5LineReader.js"></script>
<script src="static/js/line-navigator/file-wrapper.js"></script>
<script src="static/js/line-navigator/line-navigator.js"></script>

<script type=text/javascript>

    var _PREVIEW = true;
    var _csv = {
        data: null,
        separator: $('#separator').val(),
        header: $('#header').val(),
        delimiter:'"'
    };

    $(document).ready(function () {

         $('select').material_select();

        $('#previewcheckbox').change(function () {
            _PREVIEW = $(this).is(":checked")
        });
        $('#separator').change(function () {
            _csv.separator = $(this).val()
            printTable()
        });
        $('#delimiter').bind("propertychange change click keyup input paste",function () {
            _csv.delimiter = $(this).val() || '"'
            printTable()
        });
        $('#header').click(function () {
            _csv.header = $(this).is(":checked")
            printTable()
        });

        //$SCRIPT_ROOT = {{request.script_root | tojson | safe}};
        //var $table = $('#table').DataTable();

        $('#jfileupload').bind('change', handleFileSelect);
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object
            var file = files[0];
            _csv.data = file;
            //file metadata
            var output = ''
            + ' - FileType: ' + (file.type || 'n/a') + '<br />\n'
            + ' - FileSize: ' + file.size + ' bytes<br />\n'
            + ' - LastModified: ' + (file.lastModifiedDate ? file.lastModifiedDate.toLocaleDateString() : 'n/a') + '<br />\n';
            printTable();
            $('#details').html(output);
        }

        function printTable() {
            var navigator = new LineNavigator(_csv.data);
            navigator.readLines(0,10, function (err, index, lines, isEof, progress) {
                var html = '<table class="striped">';
                if(_csv.header){
                    html += ("<thead><tr>"+ $.map(lines[0].split(_csv.separator), function (c) {return "<th>" + c }).join("") + "</tr></thead>");
                    lines.shift()
                }
                if(lines && lines.length>0){
                    html +='<tbody>';
                    lines.forEach(function(line){
                       html += ("<tr>"+ $.map(line.split(_csv.separator), function (c) {return "<td>" + c + "</td>"; }).join("") + "</tr>\r\n");
                    });
                    html +='</tbody>';
                }
                html +='</table>';
                $('#table').html(html);
            });

            /*var reader = new FileReader();
            reader.readAsText(_csv.data);
            reader.onload = function (event) {
                var csv = event.target.result;
                var data = $.csv.toArrays(csv, {separator:_csv.separator,delimiter:_csv.delimiter});
                var html = '<table class="striped">';

                if(_csv.header){
                    html += ("<thead><tr>"+ $.map(data[0], function (c) {return "<th>" + c }).join("") + "</tr></thead>");
                    data.shift()
                }
                for (var row in data) {
                    html += '<tr>\r\n';
                    for (var item in data[row]) {
                        html += '<td>' + data[row][item] + '</td>\r\n';
                    }
                    html += '</tr>\r\n';
                }
                html +='</table>'
                $('#table').html(html);

                $('thead tr th','#table').click(function () {
                  console.log('left click'+$(this))

                    $(this).addClass("lhs")
                })
                $('thead tr th','#table').bind('contextmenu',function (e) {
                    e.preventDefault()
                    $(this).addClass("rhs")
                  console.log('right click'+$(this))
                })
            };

            reader.onerror = function () {
                alert('Unable to read ' + _csv.data.fileName);
            };*/
        }

        $('#jfileupload').fileupload({
            //dataType: 'json',
            autoUpload: false,
            add: function (e, data) {
                data.context = $('#run')
                    .click(function () {
                       // $('#run').after("loading")
                        data.submit();
                    });
            },
            done: function (e, data) {
                console.log(data)
               $('#result').html(data.result)
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progressbar').css('width',progress + '%');
                $('#progressvalue').html(progress + '%');
            }
        }).on('fileuploadadd', function (e, data) {
            $('#file-path').val(data.files[0].name)
            $('#step2').fadeIn()
            scrollTo('#step2')
        }).on('fileuploadprocessalways', function (e, data) {
            var file = data.files[0];
            if (file.error) {
                console.log("error",file.error)
            }
            console.log("fileuploadprocessalways")
        });

        $("#run").on("click", function () {
            console.log("runclick")
             $('#progressbox').show();
            $('#file-form').submit(function (e) {
                e.preventDefault();
            });
            //$('#step3').fadeIn()
            //scrollTo('#step3')
        });


        // $('#example').DataTable();
    });

    function scrollTo(el) {
        $('html, body').animate({
            scrollTop: $(el).offset().top
        }, 1000);
    }
</script>

</body>
</html>
